/* 首页样式index.html*/

.topbar-wrapper {
  width: 100%;
  line-height: 40px;
  height: 40px;
  background-color: #333;
}
/* 设置左侧浮动 */
.service,
.topbar li {
  float: left;
}
/* 设置右侧浮动 */
.shopcart,
.userinfo {
  float: right;
}

/* 设置超链接颜色 */
.topbar a {
  font-size: 12px;
  color: #b0b0b0;
  display: block;
}

.topbar a:hover {
  color: #fff;
}

.shopcart a {
  width: 120px;
  background-color: #424242;
  text-align: center;
}

.shopcart:hover a {
  background-color: #fff;
  color: #ff6700;
}
.shopcart {
  margin-left: 3px;
}

.shopcart i {
  margin-right: 3px;
}

/* 设置中间分割线样式 */
.topbar .line {
  color: #424242;
  font-size: 12px;
  margin: -1px 8px 0;
}

a {
  text-decoration: none;
  color: #333;
}
.app {
  position: relative;
}

.app .qrcode {
  height: 148px;
  width: 124px;
  left: -35px;
  height: 0;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  /* transition用于设置过度效果 */
  transition: height 0.3s;
}
/* 设置二维码图片 */
.qrcode img {
  width: 90px;
  margin: 17px;
  margin-bottom: 10px;
}
/* 设置二维码中文字 */
.app .qrcode span {
  color: black;
  font-size: 16px;
}
.app:hover .qrcode,
.app:hover::after {
  display: block;
  height: 148px;
}

.app::after {
  display: none;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.shopcart {
  position: relative;
}

.shopcart .cartpanel {
  width: 200px;
  height: 0;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -80px;
  /* transition用于设置过度效果 */
  transition: height 0.3s;
  z-index: -1;
}

.shopcart:hover .cartpanel,
.shopcart:hover::after {
  display: block;
  height: 50px;
}

.shopcart .cartpanel span {
  color: #333;
}

.head-wrapper {
  position: relative;
}

/* 设置中间的header */
.header {
  height: 100px;
}

.header .logo {
  float: left;
  width: 56px;
  height: 56px;
  margin-top: 22.5px;
  position: relative;
  overflow: hidden;
}

/* 设置logo容器的样式 */
.header .logo a {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 0;
  transition: left 0.3s;
}
/* 设置logo样式 */
.header .logo .home {
  position: absolute;
  left: -55px;
  width: 112px;
  background-image: url('../images/mihome.png');
}
/* 设置logo hover 动画 */
.header .logo:hover .home {
  left: 0px;
}

/* 设置中间的导航条 */
.header .nav-wrapper {
  float: left;
  margin-left: 7px;
}

.header .nav {
  width: 850px;
  line-height: 100px;
  padding-left: 30px;
}

/* 设置导航条中li */
.nav-wrapper li {
  float: left;
}

/* 设置左侧导航条样式 */
.left-menu {
  width: 234px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 999;
  left: -93px;
  line-height: 1;
  padding: 20px 0;
}

ul .left-menu div a {
  display: block;
  height: 42px;
  line-height: 42px;
  color: white;
  margin-right: 0;
  padding: 0 30px;
  font-size: 14px;
}
ul .left-menu div:hover {
  color: white;
  background-color: orange;
}
ul .left-menu div a:hover {
  color: white;
}
.left-menu a i {
  float: right;
  line-height: 42px;
}

.all-goods-wrapper {
  position: relative;
}

.nav-wrapper li a {
  display: block;
  font-size: 16px;
  margin: 0 10px;
}

.nav-wrapper li a:hover {
  color: #ff6700;
}

.all-goods {
  /* display不会占据位置，visibility会占据位置 */
  visibility: hidden;
}

.nav .goods-info {
  z-index: 9999;
  height: 0;
  background-color: pink;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
  transition: all 0.3s;
}
/* ~表示选择后面所有的goods-info +表示选择后面的一个goods-info */
.nav
  li:not(:first-of-type):not(:nth-child(9)):not(:nth-child(10)):hover
  ~ .goods-info,
.goods-info:hover {
  height: 228px;
  border-top: 1px solid rgb(224, 224, 224);
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
}

/* 设置搜索框容器 */
.search-wrapper {
  width: 296px;
  height: 50px;
  background-color: red;
  float: right;
  margin-top: -70px;
}
.search-wrapper input,
.search-wrapper .search-btn {
  float: left;
}
.search-wrapper {
  border: 1px solid rgb(224, 224, 224);
}

.search-wrapper .search-inp {
  border: none;
  padding: 0;
  float: left;
  height: 50px;
  width: 244px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid rgb(224, 244, 244);
}

/* 设置input获取焦点后的样式 */
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + button {
  outline: 1px solid orange;
}

.search-wrapper .search-btn {
  float: left;
  width: 52px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: #fff;
  color: #616161;
  border-left: none;
  font-size: 16px;
}
.search-wrapper .search-btn:hover {
  background-color: orange;
  color: white;
  border: none;
}
/* 设置banner样式  */
.banner {
  position: relative;
  height: 460px;
}

.banner .img-list li {
  position: absolute;
}

.banner img {
  width: 100%;
  vertical-align: top;
}

/* 设置5个点 */
.pointer {
  position: absolute;
  bottom: 22px;
  right: 35px;
}
.pointer a {
  float: left;
  width: 8px;
  height: 6px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 6px;
}
.pointer a:hover,
.pointer a.active {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px rgba(0, 0, 0, 0.4) solid;
}

.prev-next a {
  width: 41px;
  height: 69px;
  position: absolute;
  background-image: url(../images/sprite/icon-slides.png);
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.prev-next .prev {
  left: 234px;
  background-position: -84px 0;
}
.prev-next .next {
  right: 0;
  background-position: -125px 0;
}

.prev-next .prev:hover {
  background-position: 0 0;
}

.prev-next .next:hover {
  background-position: -42px 0;
}

/* 设置回到顶部样式 */
.to-top {
  width: 26px;
  height: 206px;
  background-color: pink;
  position: fixed;
  bottom: 160px;
  right: 50%;
  /* 
  布局恒等式 ：
  left、 margin-left width margin-right  right;
  auto + 0 + 26 + 0（变为-639因此auto增大） + 50%    =视口宽度
  */
  margin-right: -639px;
}
